<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	

	<category label="Apariencia">	
		<setting label="Menú XML personalizado" type="lsep" />
		<setting id="xmlmaster" type="bool" label="Activar menú XML" default="false"/>
		<setting id="SelectXMLmenu" type="enum" label="Seleccione menú XML:" values="Default|Pastebin|Personalizado" default="Default" enable="!eq(-1,false)"/>
		<setting id="mastermenu" type="text" label="XML Master Menu: " default="" enable="!eq(-2,false)"/>
		<setting id="id_pastebin" type="text" label="ID Pastebin: " default="" enable="!eq(-3,false)"/>	
		<setting label="Otras opciones" type="lsep" />
   		<setting id="pekes_no" type="bool" label="Control paternal" default="true"/>
		<setting id="ver_intro" type="bool" label="Mostrar video 3D" default="true"/>	
   		<setting id="epg_no" type="bool" label="Desactivar EPG" default="false"/>		
		<setting id="epg_source" type="enum" label="Fuente EPG:" values="MiguiaTV|FormulaTV" enable="eq(-1,false)" default="FormulaTV"/>	
		<setting id="nolabel" type="bool" label="No mostrar [Lista M3U]" default="true"/>
		<setting id="cache.dir" type="text" label="Directorio caché"  default="../../userdata/playlists/tmp/"/>
		<setting id="addon_magnet" type="enum" label="Abrir magnets con:" values="Stream|Pulsar|Kmediatorrent" default="Stream"/>
		<setting id="addon_torrent" type="enum" label="Abrir torrents con:" values="Stream|Pulsar" default="Stream"/>	
		<setting label="Modos de vista" type="lsep" />		
		<setting id="video_id" type="enum" label="Televisión:" values="movies|thumbnail|list|fanart|seasons|episodes|tvshows|biglist" default="6"/>
		<setting id="movies_id" type="enum" label="Películas:" values="movies|thumbnail|list|fanart|seasons|episodes|tvshows|biglist" default="3"/>
		<setting id="series_id" type="enum" label="Series:" values="movies|thumbnail|list|fanart|seasons|episodes|tvshows|biglist" default="6"/>
		<setting id="music_id" type="enum" label="Música:" values="movies|thumbnail|list|fanart|seasons|episodes|tvshows|biglist" default="6"/>	
		<setting id="bum_id" type="enum" label="BUM+:" values="movies|thumbnail|list|fanart|seasons|episodes|tvshows|biglist" default="7"/>
		<setting label="BERS (Backup de series)" type="lsep" />
		<setting id="bers_sy_on" type="bool" label="Activar BERS SeriesYonkis"  default=""/>
		<setting id="bers_sy_level" type="enum" label="A nivel de:" values="Capítulo|Serie" enable="eq(-1,true)" default="Capítulo"/>				
	</category>
	
	<category label="Listas personales">
		<setting label="Lista online 1" type="lsep" />
		<setting id="title_pl1" type="text" label="Titulo: " default="" enable="!eq(-1,false)"/>		
		<setting id="url_pl1" type="text" label="URL: " default="" enable="!eq(-1,false)"/>
		<setting id="tipo_pl1" type="enum" label="Sintaxis:" values="M3U|PLX" default="M3U" enable="!eq(-3,false)"/>	
		<setting label="Lista online 2" type="lsep" />
		<setting id="title_pl2" type="text" label="Titulo: " default="" enable="!eq(-1,false)"/>		
		<setting id="url_pl2" type="text" label="URL: " default="" enable="!eq(-1,false)"/>
		<setting id="tipo_pl1" type="enum" label="Sintaxis:" values="M3U|PLX" default="M3U" enable="!eq(-3,false)"/>
		<setting label="Lista online 3" type="lsep" />
		<setting id="title_pl3" type="text" label="Titulo: " default="" enable="!eq(-1,false)"/>		
		<setting id="url_pl3" type="text" label="URL: " default="" enable="!eq(-1,false)"/>
		<setting id="tipo_pl1" type="enum" label="Sintaxis:" values="M3U|PLX" default="M3U" enable="!eq(-3,false)"/>
	</category>	
	
	<category label="Cuentas">	
	    <setting type="sep" />	
		<setting label="VeeHD" type="lsep" />		
		<setting id="veehd_account" type="bool" label="VeeHD" default="false"/>
		<setting id="veehd_user" type="text" label="Usuario:" enable="eq(-1,true)" default=""/>
		<setting id="veehd_pword" type="text" label="Contraseña:" option="hidden" enable="eq(-2,true)" default=""/>	
	</category>	
</settings>